@using QuanLyTruongHoc.Models
@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    ViewData["Title"] = "Thông báo hệ thống";
}
<link rel="stylesheet" href ="~/css/error.css"/>

<div class="error-body">
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1><span class="errorcode">Error</span></h1>
        @{
            foreach(var item in Model.noiDung)
            {
                <p class="output">@item</p>
            }
        }
        <p class="output">Bạn có thể <a href='javascript:history.go(-1)'>trở lại</a> hoặc <a href="#2">về trang chủ</a>.</p>
        <p class="output">Chúc may mắn.</p>
    </div>
</div>