@model QuanLyTruongHoc.Models.QuanLyNghiepVu.Note
@inject IHttpContextAccessor _accessor
@using QuanLyTruongHoc.Models
@using QuanLyTruongHoc.Models.QuanLyNghiepVu;
@inject QuanLyTruongHocConText _context

@{
    var id = (int)_accessor.HttpContext.Session.GetInt32("id");
    var role = (int)_accessor.HttpContext.Session.GetInt32("role");
    var lstLopHoc = new List<Class>();

    if (role == 2)
    {
        var tkbItem = _context.tKBItems.Where(p => p.IdGiaoVien == id);
        var lstLopChuNhiem = _context.classes.FirstOrDefault(p => p.IdGiaoVien == id);
        lstLopHoc = _context.classes.Where(p => tkbItem.Any(t => t.IdLop == p.Id)).ToList();
        lstLopHoc.Add(lstLopChuNhiem);
    }
    else
    {
        id = 0;
        lstLopHoc = _context.classes.ToList();
    }
}

<div class="modal fade" id="detailFormModal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"><strong>@ViewData["Title"]</strong></h4>
            </div>
            <div class="modal-body m-2" style="background:aliceblue;">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdGiaoVien" value="@id" />
                            <div class="form-group">
                                <label asp-for="title" class="control-label">Tiêu đề</label>
                                <p class="text">@Model.title</p>
                                <span asp-validation-for="title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="content" class="control-label">Nội dung</label>
                                <p class="text">@Model.content</p>
                                <span asp-validation-for="content" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" style="float:right;" value="Đóng" class="btn btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
